#!/bin/bash
nohup "***MYSQLD***" --defaults-file="***MYSQLCONF***" > "***LOGFILE***" 2>&1 &
while [ ! -f "***PIDFILE***" ]; do sleep 0.5; done
notify-send --icon=list-add "***SITE*** - MySQL started"

