#!/bin/bash
source "$BASHPRELUDE"

pid=$(cat "$PIDPATH")
kill $pid

waitfor 5 not kill -0 $pid 2> /dev/null || exit 2
rm "$PIDPATH"

maybe notify-send \
    --expire-time=1500 \
    --icon=list-add \
    "$SITE - PostGreSQL stopped"

