#!/bin/bash
source "$BASHPRELUDE"

"$DAEMON" -f "$CONFPATH" -k stop || exit 1

waitfor 5 [ ! -f "$PIDPATH" ] || exit 2

maybe notify-send \
    --expire-time=1500 \
    --icon=list-add \
    "$SITE - Apache2 stopped"

