#!/bin/bash
source "$BASHPRELUDE"

nohup "$DAEMON" --defaults-file="$CONFPATH" > "$LOGPATH" 2>&1 &

waitfor 5 [ -f "$PIDPATH" ] || exit 2

maybe notify-send \
    --expire-time=1500 \
    --icon=list-add \
    "$SITE - MySQL started"

